body {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.container {
  font-family: sans-serif;
  text-align: center;
  width: 100vw;
  height: 100vh;
  padding: 5px;
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

.btn {
  color: white;
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.btn:hover {
  background-image: linear-gradient(to right, #f83600 0%, #bea212 100%);
}

.btn:active {
  background-image: linear-gradient(to right, #130d0c 0%, #362f0c 100%);
}

.js-input {
  border: none;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  margin: 10px 5px 10px 0;
}

#game {
  font-size: 18px;
  font-weight: bold;
  color: hsla(234, 89%, 15%, 0.925);
}

.display-image{
  margin: 25px;
}

/* Costumisation des parties à afficher à l'écran */
.display-image img {
  width: 150px;
  margin: 5px;
}

.result {
  color: red;
  text-align: center;
  font-weight: bold;
  margin-top: 15px;
}